
<div ng-controller="MethodProConController as model">
	

	<div class="table-responsive">
		
	<ul class="nav nav-tabs">
		<li role="presentation"><a href="#/question">Question</a></li>
		<li role="presentation" class="active"><a href="#/methodProCon">Method</a></li>
		<li role="presentation"><a href="#/advice">Advice</a></li>
		<li role="presentation"><a href="#/decision">Decision</a></li>
	</ul>     
	
	<div class="panel panel-default"> 
	<div class="panel-body">
		
		<h3 class="text-center"> Question : {{model.decision.question}} </h3>
		<h4 class="page-header text-center"> Weighed Pro & Con Method </h4>    
		
		<!-- Table -->
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th><span class="glyphicon glyphicon-triangle-bottom"></span> Negative or Positive Effect</th>
				<th><span class="glyphicon glyphicon-triangle-bottom"></span> Impact (-5 to 5)</th>
				<th><span class="glyphicon glyphicon-triangle-bottom"></span> Action</th>
			</tr>
			
			<tr>
				
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.label" type="text" class="form-control" id="inputProCon" placeholder="Enter Pro or Con">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.impact" type="number" min="-5" max="5" value="3" class="form-control" id="inputProConRating">
						</div>
					</div>
				</td>
	<!--			<td>
					<form> 
						<div class="form-group dropdown">
							<div class="col-xl-10">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownProCon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									Pro
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownProCon">
									<li><a href="#">Pro</a></li>
									<li><a href="#">Con</a></li>
								</ul>
							</div>
						</div>
					</form>
				</td>  -->
				<td>
					<button ng-click="model.createProCon(model.selected.label, model.selected.impact)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
					<button ng-click="model.updateProCon(model.selected.label, model.selected.impact)" ng-show="model.selected" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
				</td>
			</tr>
			</thead>
			
			<tbody>
			<!-- Existing Forms -->
<!--			<tr ng-repeat="form in forms" ng-class="{'success' : $index == selectedFormIndex}">
				<td><button>{{form.name}}</button></td>
				<td>
					<button ng-click="deleteForm($index)" class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>
					<button ng-click="selectForm($index)" class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
				</td>
			</tr>   -->
			
			
						<!-- Example Question 1 -->
			<tr ng-repeat="procon in model.procons">
				<td>{{procon.label}}</td>
				<td>{{procon.impact}}</td>
				<td>
					<button ng-click="model.selectProCon(procon)" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
					<button ng-click="model.deleteProCon(procon)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>	
				</td>
			</tr>
			<!-- Example Question 2 
			<tr>
				<td>Expensive Travel</td>
				<td>4</td>
				<td>Con</td>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>	
				</td>
			</tr> -->
			<!-- Example Question 3 
			<tr>
				<td>Good Food</td>
				<td>2</td>
				<td>Pro</td>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>	
				</td>
			</tr>  -->
			
			<!-- Example Question 4
			<tr>
				<td>Time Consuming to Travel</td>
				<td>2</td>
				<td>Con</td>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>	
				</td>
			</tr>		 -->
			</tbody>
		</table>
			
			
		<!-- New Question Button -->
		
		<div class="row">
			<div class="col-xs-12">
				<button ng-click="model.calculateDecision()" ng-hide="model.decision.myDecision" class="btn btn-default btn-colorful btn-block" role="button"> Calculate Your Decision</button>
			</div>
		</div>
		
		<div clas="row">
			<h4 class="text-center" ng-show="model.decision.myDecision">My Decision: {{model.decision.myDecision}}</h4>
		</div>
		
		<div class="row button col-xs-12">
			<div class="col-sm-4 text-center">
				<a href="#/question" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Revise Question</a>
			</div>
			
			<div class="col-sm-4 text-center">
				<button ng-click="model.calculateDecision()" ng-show="model.decision.myDecision" class="btn btn-default btn-sm" role="button"> Recalculate Your Decision</button>
			</div>
			
			<div class=" col-sm-4 text-center">
				<a href="#/advice" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-arrow-right"></span> More Opinions</a>
			<!--		<button ng-click="register()" btn-default>Register</button>  -->
			</div>
		</div>
			
			
	</div>                        
</div>
