
/* CSS Stylesheet */
/* Kaleigh O'Hara */


/* Move down content  (dashboard moved only 50px to account for nav bar) */
body {
  padding-top: 80px;
}

/* Glyphicon Style */
.glyphicon {
  padding-top: 25%;
}

.inputComment {
  font-size:12pt;
  width:70%;
}

/* Border */
#border {
    border: 1px solid lightgrey;
    padding: 10px;
}

