
/* CSS Stylesheet */
/* Kaleigh O'Hara */


/* Move down content  (dashboard moved only 50px to account for nav bar) */
body {
  padding-top: 80px;
}

/* Button Spacing */
.button {
  margin-top: 4%;
}

.btn-colorful {
  background-color: darkslategray;
  color: whitesmoke;
}


.inputComment {
  font-size:12pt;
  width:70%;
}

/* Border */
#border {
    border: 1px solid lightgrey;
    padding: 10px;
}

