 <div ng-controller="FieldController as model">
    <h2 class="page-header">Forms : Registration Form</h2>
    
    
    <div class="table-responsive">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#/form">Forms</a></li>
			<li role="presentation" class="active"><a href="#/user">Fields</a></li>
        </ul> 
    
        <div id="border"> 
 
 <!--   {{model.fields}}  -->
 
 		<!-- Table -->
		<table class="table table-borderless">
			
			<tbody>
			<!-- Fields -->
			<tr ng-repeat="field in model.fields">               
                <td ng-switch="field.type">
          
                    <!-- Text -->
                    <div ng-switch-when="TEXT">
                        <div class="form-group">  
                            <label for="inputText" class="col-xs-12 control-label">{{field.label}}</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="inputText" placeholder={{field.placeholder}}>
                            </div>
                        </div>
                    </div>
                    <!-- Text Area -->
                    <div ng-switch-when="TEXTAREA">
                        <div class="form-group">
                            <label for="inputTextArea" class="col-xs-12 control-label">{{field.label}}</label>
                            <div class="col-xs-12">
                                <input type="text" class="form-control" id="inputTextArea" placeholder={{field.placeholder}}>
                            </div>
                        </div>
                    </div>
                    <!-- Date -->
                    <div ng-switch-when="DATE">
                        <div class="form-group">
                            <label for="inputDate" class="col-xs-12 control-label">{{field.label}}</label>
                            <div class="col-xs-12">
                                <input type="date" class="form-control" id="inputDate">
                            </div>
                        </div>
                    </div>
                    <!-- Dropdown (Options) -->
                    <div ng-switch-when="OPTIONS">
                        <div class="form-group dropdown">
                            <label for="inputDropdown" class="col-xs-12 control-label">{{field.label}}</label>
                            <div class="col-xs-12">
                                <select name="inputDropdown" id="inputDropdown" class="form-control">
                                    <option ng-repeat="option in field.options" ng-value={{option.value}}>{{option.label}}</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Checkboxes -->
                    <div ng-switch-when="CHECKBOXES">
                        <div class="form-group">
                            <label for="checkbox" class="col-xs-12 control-label">{{field.label}}</label>
                            <div class="col-xs-6">
                                <div ng-repeat="option in field.options" ng-value={{option.value}} class="checkbox"> 
                                    <label><input  type="checkbox" id="inputCheckbox1">{{option.label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Radios -->
                    <div ng-switch-when="RADIOS">
                        <div class="form-group">
                            <label for="radio" class="col-xs-12 control-label">{{field.label}}</label>
                            <div class="col-xs-6">
                                <div ng-repeat="option in field.options" ng-value={{option.value}} class="radio">
                                    <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadiosX">
                                        {{option.label}}
                                    </label>
                                </div>
                            </div>         
                        </div> 
                    </div>
                </td>
   
                <td class="table-button">
                    <button ng-click="model.removeField(field)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
                    
            </tr>
            <tr>
                <td>
                    &nbsp
                </td>
                <td>
                    &nbsp
                </td>
            </tr>
                
  
                <!-- New Field Dropdown --> 
            <tr>
                <td id="row-divider">
                    <div class="form-group dropdown">
                        <label for="NewField" class="col-xs-12 control-label">Add New Field:</label>
                        <div class="col-xs-12">
                            <select ng-model="field.type" name="NewField" id="NewFieldSelect" class="form-control">  <!-- ng-options="field.type for field in model.fields"-->
                        <!--      <option value="" selected disabled>Choose Field Type</option>  -->
                                <option value="TEXT" selected="selected">Single Line Text</option>
                                <option value="TEXTAREA">Multi Line Text</option>
                                <option value="DATE">Date</option>
                                <option value="OPTIONS">Dropdown</option>
                                <option value="CHECKBOXES">Checkboxes</option>
                                <option value="RADIOS">Radio Buttons</option>
                            </select>
                        </div>
                    </div>
                </td>
                
                <td id="row-divider" class="table-button"> 
                    <button ng-click="model.addField(field.type)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>   
                </td>  
            </tr>
               
        </tbody>
        </table>            
 
        </div>
    </div>
</div>

