
<div ng-controller="MethodIntuitionOptionsController as model"> 
<!--	<div>  -->
	
	<div class="progress">
	<!--	<div class="progress-bar progress-bar-complete" style="width: 20%">
			<span class="sr-only">Question</span>
		</div>  -->
		<div class="progress-bar progress-bar-complete progress-bar-striped" style="width: 40%">
			<span>Options</span>
		</div>
		<div class="progress-bar progress-bar-incomplete" style="width: 20%">
			<span class="sr-only">Evaluation</span>
		</div>
		<div class="progress-bar progress-bar-incomplete" style="width: 20%">
			<span class="sr-only">Advice</span>
		</div>
		<div class="progress-bar progress-bar-incomplete" style="width: 20%">
			<span class="sr-only">Decision</span>
		</div>
	</div>
		 
	
	<div class="panel panel-default"> 
	<div class="panel-body">
		
		<h3 class="text-center"> Question : {{model.decision.question}} </h3>
		<h4 class="page-header text-center"> Intuition Method </h4>    
		
		<!-- Inner Tabs
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="">Options</a></li>
			<li role="presentation"><a href="#/methodIntuitionEval">Evaluation</a></li>
		</ul>       -->
		
		<div class="panel panel-default"> 
		<div class="panel-body">
		
		
		<div class="table-responsive">
		<!-- Table -->
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th><scan></scan> Option</th>
				<th><scan></scan> Description</th>
				<th><scan></scan> URL (http://...)</th>
				<th><scan></scan> Action</th>
			</tr>
			
			<tr>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.label" type="text" class="form-control" placeholder="Option Name">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.description" type="text" class="form-control" placeholder="About This Option">
							<!-- <input type="image" class="form-control" id="inputOptionImage">  -->
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.url" type="url" class="form-control" placeholder="http://www.google.com">
						</div>
					</div>
				</td>
				<td>
					<button ng-click="model.createOption(model.selected.label, model.selected.description, model.selected.url)" class="btn btn-default"><scan class="glyphicon glyphicon-plus"></scan></button>
					<button ng-click="model.updateOption(model.selected.label, model.selected.description, model.selected.url)" class="btn btn-default"><scan class="glyphicon glyphicon-ok"></scan></button>
				</td>
			</tr>
			</thead>
			
			<tbody>
			
			<!-- Example Question 1 -->
			<tr ng-repeat="option in model.options" ng-class="{'success' : option == model.selected}">
				<td>{{option.label}}</td>
				<td>{{option.description}}</td>
				<td>
					<button type="button" class="btn btn-link">{{option.url}}</button>
				</td>
				<td>
					<button ng-click="model.selectOption(option)" class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button ng-click="model.deleteOption(option)" class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>	
				</td>
			</tr>
			<!-- Example Question 2 
			<tr>
				<td>Coalhouse Pizza</td>
				<td></td>
				<td>
					<button type="button" class="btn btn-link">http://coalhousepizza.com/</button>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>	
				</td>
			</tr>   -->
			<!-- Example Question 3 
			<tr>
				<td>Kona Grill</td>
				<td></td>
				<td>
					<button type="button" class="btn btn-link">http://www.konagrill.com/restaurants/stamford-ct.aspx</button>
				</td>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>	
				</td>
			</tr>  -->
				
			</tbody>
		</table>
			
			
			
			
			
		<!-- Nav Buttons -->
		
		<div class="row button col-xs-12">
			<div class="col-sm-5 text-center">
				<a href="#/question" class="btn btn-default btn-sm btn-block btn-colorful" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Revise Question</a>
			</div>
			<div class="col-sm-2 text-center">
				&nbsp
			</div>
				
			<div class=" col-sm-5 text-center">
				<a ng-href="#/user/{{model.decision.userId}}/decision/{{model.decision._id}}/IntuitionEval" class="btn btn-default btn-sm btn-block btn-colorful" role="button"><span class="glyphicon glyphicon-arrow-right"></span> Submit Your Opinion</a>
			</div>	
		</div>
		
			
		<!-- Next Button
			
		<div class="text-center">
			<a ng-href="#/user/{{model.decision.userId}}/decision/{{model.decision._id}}/IntuitionEval" class="btn btn-default" role="button"> Next : Submit Your Opinion</a>
		</div>  -->
			
			
	</div>                        
</div>
