
<div ng-controller="DecisionController as model">


	<div class="progress">
	<!--	<div class="progress-bar progress-bar-complete" style="width: 20%">
			<span class="sr-only">Question</span>
		</div>
		<div class="progress-bar progress-bar-complete" style="width: 40%">
			<span class="sr-only">Evaluation</span>
		</div>
		<div class="progress-bar progress-bar-complete" style="width: 20%">
			<span class="sr-only">Advice</span>
		</div>  -->
		<div class="progress-bar progress-bar-complete progress-bar-striped" style="width: 100%">
			<span>Decision</span>
		</div>
	</div>
	 
	
	<div class="panel panel-default"> 
	<div class="panel-body">
		
		<h3 class="text-center"> Question : {{model.decision.question}} </h3>
		<h4 class="text-center"> Creator : {{model.creator.firstName}} </h4>
		<h4> &nbsp </h4>

		
		<!-- Table -->
		<div class="table-responsive">
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th><scan class="glyphicon glyphicon-triangle-bottom"></scan> Person</th>
				<th><scan class="glyphicon glyphicon-triangle-bottom"></scan> Opinion</th>
				<th><scan class="glyphicon glyphicon-triangle-bottom"></scan> Weight</th>
				<th> Results</th>
			</tr>
			</thead>
			
			<tbody>			
			
			<!-- Creator Opinion
			<tr>
				<td>{{model.creator.firstName}}</td>
				<td>{{model.decision.myDecision}}</td>
				<td>50%</td>
				<td>
					<button ng-click="model.viewCreatorDecision()" class="btn btn-default"><scan class="glyphicon glyphicon-info-sign"></scan></button>	
				</td>
			</tr>    -->
			<!-- Advisor Opinions -->
			<tr ng-repeat="advisor in model.advisors">
				<td>{{advisor.name}}</td>
				<td>{{advisor.decision}}</td>
				<td>{{advisor.weight}}</td>
				<td>
					<button ng-click="model.viewAdvisorDecision(advisor)" class="btn btn-default"><scan class="glyphicon glyphicon-info-sign"></scan></button>	
				</td>
			</tr>
			</tbody>
		</table>
		</div>
		
		<!-- Nav Button -->
		<div class="row col-xs-12">
			<div class="col-sm-2 text-center">
				&nbsp
			</div>
			<div class="col-sm-8 text-center">
				<a ng-href="#/user/{{model.decision.userId}}/decision/{{model.decision._id}}/advice" class="btn btn-default btn-sm btn-block btn-colorful" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Advisors</a>
			</div>
			<div class="col-sm-2 text-center">
				&nbsp
			</div>
		</div>
          
		<!-- Decision -->  
		<div class="row">   
			<div class="col-sm-6 text-center">
				<h3> Pie Chart Here </h3>
			</div>  
			<div class="col-sm-6 text-center">	
				<h3>Decision : {{model.decision.finalDecision}} </h3>
			</div>
		</div>
		

			
		
<!--		<div class="form-group">
			<div class="col-xl-10">
				<input type="image" name="pie" src="vacationPie.png">
			</div>
		</div>   -->

		
		</div>                        
		</div>
	</div>
</div>


		