<h3 class="page-header">Decision Making Strategies</h3>
<div class="col-sm-2">
</div><div class="col-sm-8">
    <h4>
        Decision-making is hard.  Sometimes we could use a little help...
    </h4>
    <dl>
        <dd> &nbsp</dd>
        <dt> Intuition Method</dt>
        <dd>
            If you can't trust your own intuition, but you can trust your friends, try the Intuition Method to determine your best option.  Also a great tool for making group decisions. You list the options and then poll your friends to decide.
        </dd>
        <dd> &nbsp</dd>
        <dt> Pro Con Method</dt>
        <dd>
            The Weighted Pro/Con Method is a great tool if you have a yes/no question that you just can't figure out.  If you still aren't confident after calculating your decision, just send poll your friends to get their opinions as well.
        </dd>
        <dd> &nbsp</dd>
        <dt> Grid Method</dt>
        <dd>
            Coming soon is the Grid Method.  This method is best used for complex decisions involving multiple options.
        </dd>
        <dd> &nbsp</dd>
    </dl>
</div>
<div class="col-sm-2"></div>

<!-- New Question Button -->
<div class="text-center button">
    <div class="col-sm-4">
        &nbsp
    </div>			
    <div class="text-center col-sm-4"">
        <a href="#/question" class="btn btn-default btn-block btn-colorful" role="button"> New Question</a>
    </div>
    <div class="col-sm-4">
        &nbsp
    </div>
</div>
