
<div ng-controller="AdviceController as model">

		
	<ul class="nav nav-tabs">
		<li role="presentation"><a href="#/question">Question</a></li>
		<li role="presentation"><a href="#/methodGridEval">Method</a></li>
		<li role="presentation" class="active"><a href="#/advice">Advice</a></li>
		<li role="presentation"><a href="#/decision">Decision</a></li>
	</ul>     
	
	<div class="panel panel-default"> 
	<div class="panel-body">
		
		<h3 class="text-center"> Advice For : {{model.decision.question}} </h3>
		<h4 class="page-header text-center"> Weight of my opinion: 50% </h4>    
		    
		
<!--		<div class="panel panel-default"> 
		<div class="panel-body">  -->
			
		<div class="row search">
			<div class="col-xs-8">
		<!--		<label for="advisorSearch" class="col-xs-4">Search by Question: </label>  -->
				<input type="text" class="form-control" ng-model="model.search" id="advisorSearch"></input>  <!--  -->
			</div>
			<div class="col-xs-4">
				<button ng-click="model.findOneContact(model.search)" class= "btn btn-default btn-colorful btn-block" role="button">Search By Name or Email</button>
			</div>	
		</div>
		
<!--		<div class="row search">
			<div class="col-xs-8">
		<!--		<label for="advisorSearch" class="col-xs-4">Search by Question: </label> 
				<input type="text" class="form-control" ng-model="model.search" id="advisorSearch"></input> 
			</div>
			<div class="col-xs-4">
				<button ng-click="model.findMatchingContacts(model.search)" class= "btn btn-default btn-colorful btn-block" role="button">Search By Name or Email</button>
			</div>	
		</div> -->
<!--		<div class="ui-widget">
			<label for="tags">Autocomplete Test: </label>
			<input id="tags">
		</div>   -->
			
			
		
		
		<!-- Table -->
		<table class="table table-striped table-bordered table-responsive">
			<thead>
			<tr>
				<th><span class="glyphicon glyphicon-triangle-bottom"></span> Name</th>
				<th><span class="glyphicon glyphicon-triangle-bottom"></span> Email</th>
			<!--	<th><span class="glyphicon glyphicon-triangle-bottom"></span> Deadline</th>  -->
				<th><span class="glyphicon glyphicon-triangle-bottom"></span> Weight %</th>
				<th> Action</th>
			</tr>
			
			<tr>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.name" type="text" class="form-control" placeholder="Jane Doe">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.email" type="email" class="form-control" placeholder="janedoe@xyz.com">
						</div>
					</div>
				</td>
		<!--		<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="advisorDueDate" type="date" class="form-control">
						</div>
					</div>
				</td> -->
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input ng-model="model.selected.weight" class="slider" type="range" min="0" max="100" value="50" step="1">
						</div>
					</div>
				</td>
				<td>
				<!--	<button ng-click="model.findOneContact(model.advisorName)" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>  -->
					<button ng-click="model.addAdvisor(model.selected.name, model.selected.email, model.selected.weight)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
					<button ng-click="model.updateAdvisor(model.selected.name, model.selected.email, model.selected.weight)" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>	
				</td>			
			</tr>
			</thead>
			
			<tbody>
			<!-- Existing Forms -->
<!--			<tr ng-repeat="form in forms" ng-class="{'success' : $index == selectedFormIndex}">
				<td><button>{{form.name}}</button></td>
				<td>
					<button ng-click="deleteForm($index)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
					<button ng-click="selectForm($index)" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
				</td>
			</tr>   -->
			
			
			<!-- Example Question 1 -->
			<tr ng-repeat="advisor in model.advisors" ng-class="{'success' : advisor == model.selected}">
				<td>{{advisor.name}}</td>
				<td>{{advisor.email}}</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input class="slider" type="range" min="0" max="100" value="25" step="1">
						</div>
					</div>
				</td>
				<td>
					<button ng-click="model.selectAdvisor(advisor)" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
					<button ng-click="model.deleteAdvisor(advisor)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
					<button ng-click="model.emailDecision(advisor)" class="btn btn-default"><span class="glyphicon glyphicon-send"></span></button>
			<!--		<button class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></button>	 -->
				</td>
			</tr>
			<!-- Example Question 2 
			<tr>
				<td>Ryan</td>
				<td>ryan@xyz.com</td>
				<td> 11/01/2015</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input class="slider" type="range" min="0" max="100" value="10" step="1">
						</div>
					</div>
				</td>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-info-sign"></scan></button>	
				</td>
			</tr> -->
			<!-- Example Question 3 
			<tr>
				<td>Danielle</td>
				<td>danielle@xyz.com</td>
				<td>11/01/2015</td>
				<td>
					<div class="form-group">
						<div class="col-xl-10">
							<input class="slider" type="range" min="0" max="100" value="15" step="1">
						</div>
					</div>
				</td>
				<td>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-pencil"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-remove"></scan></button>
					<button class="btn btn-default"><scan class="glyphicon glyphicon-info-sign"></scan></button>	
				</td>
			</tr>		-->
			</tbody>
		</table>
                
			
		<!-- Checkbox -->
		<form class="form-inline text-center">
			<div class="form-group">
				<input type="checkbox" id="adviceCheckbox">
				<label for="adviceCheckbox">Check to weigh all opinions equally</label>
			</div>
		</form>	
		
		
		
		<!-- Nav Buttons -->
		
		
		<div class="row button col-xs-12">
			<div class="col-sm-6 text-center">
		<!--		<a ng-href="#/user/{{model.decision.userId}}/decision/{{model.decision._id}}/IntuitionEval" class="btn btn-default btn-sm btn-block" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Revise Opinion</a>  -->
				<button ng-click="model.goToOpinion()" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-arrow-left"></span>Revise Opinion</button>
			</div>
			
			<div class=" col-sm-6 text-center">
				<a ng-href="#/user/{{model.decision.userId}}/decision/{{model.decision._id}}" class="btn btn-default btn-sm btn-block" role="button"><span class="glyphicon glyphicon-arrow-right"></span> View Decision</a>
			<!--	<a href="#/advice" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-arrow-right"></span> More Opinions</a>
					<button ng-click="register()" btn-default>Register</button>  -->
			</div>
		</div>
		
			
			
		<!-- Decision Button 
		<div class="row col-xl-10 text-center">
			<a href="#/advice" class="btn btn-default" role="button"> Submit Request for Opinions </a>
		</div> -->
			
		<!-- Next Button
		<div class="row col-xl-10 text-center">
			<a href="#/decision" class="btn btn-default" role="button"> Next : View Decision</a>
		</div>   -->
		
		</div>                        
		</div>
	</div>
</div>


		